<!DOCTYPE html>
<html>
<head>
  <title>Simple form bulma</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "simple_form/bulma/application", media: "all" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
  <div class="container is-widescreen is-fullhd">
    <%= yield %>
  </div>
</body>
</html>
